<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8">
    <title>顧客情報編集</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div class="container">
    <h1>顧客管理システム</h1>
    <p>
        <span sec:authentication="principal.user.username">duke</span>さんログイン中。
    </p>
    <form th:action="@{/logout}" method="post"><input type="submit" class="btn btn-default btn-xs" value="ログアウト"></form>

    <div class="col-sm-12">
        <form th:action="@{/customers/edit}" th:object="${customerForm}" class="form-horizontal" method="post">
            <fieldset>
                <legend>顧客情報編集</legend>
                <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error has-feedback'">
                    <label for="lastName" class="col-sm-2 control-label">姓</label>

                    <div class="col-sm-10">
                        <input type="text" id="lastName" name="lastName" th:field="*{lastName}"
                               class="form-control" value="山田">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                              class="help-block">error!</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error has-feedback'">
                    <label for="firstName" class="col-sm-2 control-label">名</label>

                    <div class="col-sm-10">
                        <input type="text" id="firstName" name="firstName" th:field="*{firstName}"
                               class="form-control" value="太郎">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                              class="help-block">error!</span>
                    </div>
                </div>
                
                <div class="form-group" th:classappend="${#fields.hasErrors('age')}? 'has-error has-feedback'">
                    <label for="age" class="col-sm-2 control-label">年齢</label>

                    <div class="col-sm-10">
                        <input type="text" id="age" name="age" th:field="*{age}"
                               class="form-control" value=22>
                        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
                              class="help-block">error!</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" name="goToTop" value="戻る">
                        <input type="hidden" name="id" th:value="${param.id[0]}">
                        <input type="submit" class="btn btn-primary" value="更新">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>