<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8">
    <title>顧客一覧</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div class="container">
    <h1>顧客管理システム</h1>
    <p>
        <span sec:authentication="principal.user.username">duke</span>さんログイン中。
    </p>
    <form th:action="@{/logout}" method="post"><input type="submit" class="btn btn-default btn-xs" value="ログアウト"></form>

    <div class="col-sm-12">
        <hr/>
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>ID</th>
                <th>姓</th>
                <th>名</th>
                <th>年齢</th>
                <th>担当者</th>
                <th colspan="2">編集</th>
            </tr>
            <tr th:each="customer : ${ages}">
                <td th:text="${customer.id}">100</td>
                <td th:text="${customer.lastName}">山田</td>
                <td th:text="${customer.firstName}">太郎</td>
                <td th:text="${customer.age}">120</td>
                <td th:text="${customer.user.username}">duke</td>
                <td>
                    <form th:action="@{/age/edit}" method="get">
                        <input class="btn btn-default" type="submit" name="form" value="編集">
                        <input type="hidden" name="id" th:value="${customer.id}">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>