<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8">
    <title>顧客一覧</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div class="container">
    <h1>やったぁぁぁぁぁぁぁぁあああああああああああ</h1>
    <p>
        <span sec:authentication="principal.user.username">duke</span>さんログイン中。
    </p>
    <form th:action="@{/logout}" method="post"><input type="submit" class="btn btn-default btn-xs" value="ログアウト"></form>

    <div class="col-sm-12">
        <form th:action="@{/groups/create}" th:object="${groupForm}" class="form-horizontal" method="post">
            <fieldset>
                <legend>顧客情報作成</legend>
                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'">
                    <label for="name" class="col-sm-2 control-label">名前</label>

                    <div class="col-sm-10">
                        <input type="text" id="name" name="name" th:field="*{name}"
                               class="form-control" value="山田">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                              class="help-block">error!</span>
                    </div>
                </div>
             	
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">作成</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <hr/>
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th colspan="2">編集</th>
            </tr>
            <tr th:each="group : ${groups}">
                <td th:text="${group.id}">100</td>
                <td th:text="${group.name}">まいく</td>
                <td>
                    <form th:action="@{/groups/edit}" method="get">
                        <input class="btn btn-default" type="submit" name="form" value="編集">
                        <input type="hidden" name="id" th:value="${group.id}">
                    </form>
                </td>
                <td>
                    <form th:action="@{/groups/delete}" method="post">
                        <input class="btn btn-danger" type="submit" value="削除">
                        <input type="hidden" name="id" th:value="${group.id}">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>